{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    {% if result %}
        {% ifequal imgToDisplay.0 1 %}
        <img style = "height: 600px; width : 600px;" src="{% static 'img/dark.jpg' %}" alt="">
        <br>
        {% endifequal %}
        {% ifequal imgToDisplay.1 1 %}
        <img style = "height: 600px; width : 600px;" src="{% static 'img/raw_transmission.jpg' %}" alt="">
        <br>
        {% endifequal %}
        {% ifequal imgToDisplay.2 1 %}
        <img style = "height: 600px; width : 600px;" src="{% static 'img/refine_transmission.jpg' %}" alt="">
        <br>
        {% endifequal %}
        {% ifequal imgToDisplay.3 1 %}
        <img style = "height: 600px; width : 600px;" src="{% static 'img/noequalize.jpg' %}" alt="">
        <br>
        {% endifequal %}
        {% ifequal imgToDisplay.4 1 %}
        <img style = "height: 600px; width : 600px;" src="{% static 'img/equalize.jpg' %}" alt="">
        {% endifequal %}
    {% else %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class = "bodyCenterDiv" >
            <div class="upload-btn-wrapper">
                <button class="btn-upload">Upload a file</button>
                {{ form.as_p }}
            </div>
        
            <div class = "">
                <button class = "btn btn-primary btnCenter" type = "submit">DEHAZE</button>
            </div>
        </div>
        
        
    </form>
    {% endif %}
    <script>
        document.querySelector("#id_img").onchange = function(){
        console.log(this.files[0].name)
        document.querySelector(".btn-upload").textContent = this.files[0].name;
        }
    </script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>